body{
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

/*Header*/
.header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
}
.menu{
    height: 35px;
    width: 35px;
    /* padding: 12px; */
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.menuicon{
    width: 20px;
    height: 20px;
}
.greeting{
    margin-left: 20px;
    width: max-content;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.greetingtop{
    font-size: 12px;
    font-weight: 400;
    color: grey;
}
.greetingbottom{
    font-size: 20px;
    font-weight: 600;
    color: black;
}

/*Menupage*/
.menupage{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(12, 12, 12);
}
.menutop{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuclose{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.closeicon{
    width: 16px;
}
.menuhead{
    color: white;
    font-weight: 600;
    color: white;
    font-size: 24px;
    margin-left: 30px;
}
.menupage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(12, 12, 12);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1001; /* Ensure it appears above other elements */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
  .menuopen {
    transform: translateX(0%);
  }
  .menuclosed {
    transform: translateX(100%);
  }
  .menudiv{
    width: 100%;
    flex: 1;
    background-color: grey;
  }
  .menuitems{
    margin-top: 40px;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
  .menuitem{
    width: 80%;
    height: 65px;
    /* border-top: 1px solid rgba(128, 128, 128, 0.148); */
    border-bottom: 1px solid rgba(128, 128, 128, 0.148);
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .itemicon{
    width: 16px;
    margin-right:20px ;
  }
  .itemtag{
    color: grey;
    font-size: 16px;
    font-weight: 600;
  }

  /*Bottom Bar*/
  .bottombar {
    width: max-content;
    max-width: 400px;
    height: 45px;
    background-color: #161616;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
  .tab{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
  }
  .active{
    transition: 0.3s linear;
    border: 1.5px solid royalblue;
    background-color: royalblue;
  }
  .tabicon{
    width: 14px;
    transform: translateY(0px);
  }
  .tabtag{
    color: white;
    font-weight: 600;
    margin-top: 0px;
    font-size: 10px;
    margin-left: 6px;
    margin-right: 6px;
  }

  /*HOMESCREEN*/
  .homeScreen{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
  }


  /*UPDATEPRICES PAGE*/
  .updatepricespage{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
  }

  /*ADD PRODUCTS PAGE*/
  .addproductspage{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
  }
